<configuration>
  <appSettings>
    <add key="URL" value="www.gma.cm" />
    <!--<add key="TestDataSheetPath" value="D:\NDBPOS-AUTOMATION-ST\UnitTestNDBProject\UnitTestNDBProject\TestDataAccess\TestData.xlsx" />-->
   
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AuthURL" value="https://3puser:N3xtD@y0@pos-preprod.nextdayblinds.com" />
    <add key="URL" value="https://pos-preprod.nextdayblinds.com/login" />
    <add key="Browser" value="Chrome" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>